## Determining which ID dataset to use to connect yahoo with fangraphs

Each dataset has a number of different IDs and connecting them is important in preserving the data. This script will help provide guidance on which baseball ID datasets to use

The current sources are from [Crunch Time Baseball](http://crunchtimebaseball.com/baseball_map.html) and [Smart Fantasy Baseball](https://www.smartfantasybaseball.com/tools/).

#### Import modules

In [48]:
#Import modules
import os
import difflib
import numpy as np
import pandas as pd

#### Set file paths

In [49]:
### Input paths

# # Crunch Time Baseball
# ct_URL = r'http://crunchtimebaseball.com/master.csv'

# # Smart Fantasy Baseball
# sfb_URL = r'https://www.smartfantasybaseball.com/PLAYERIDMAPCSV'

# ### Output paths
outputFolder = r'C:\Users\phili\OneDrive\Documents\DataProjects\data'
# ct_File = 'crunchTime_IDs.csv'
# sfb_File = 'smartFB_IDs.csv'

# # Construct output file paths
# ct_PATH = os.path.join(outputFolder, ct_File)
# sfb_PATH = os.path.join(outputFolder, sfb_File)

### Fangraphs data
fg_datasets = ['SteamerBat_20200731.csv', 'SteamerPit_20200731.csv']

### Yahoo! Fantasy data
yh_datasets = ['totalAvailableList_20200730.csv', 'totalKeeperList_20200730.csv']

#### Set parameters

In [50]:
# # Crunch Time columns to read-in
# ct_cols = ['fg_id', 'fg_name', 'yahoo_id', 'yahoo_name']

# # Smart Fantasy Baseball columns to read-in
# sfb_cols =['IDFANGRAPHS', 'FANGRAPHSNAME', 'YAHOOID', 'YAHOONAME']

# Fangraphs columns to read-in
fg_cols = ['Name', 'playerid']

# Yahoo columns to read-in
yh_cols = ['Keeper', 'Player_ID', 'Eligible_Positions']

#### Read-in files

In [51]:
### Read-in files 
# Fangraphs datasets: Read dfs into a list of dfs and concat. Select fg_cols
fg_list = []

for fg in fg_datasets:
    df = pd.read_csv(os.path.join(outputFolder, fg), index_col=None, header=0, usecols = fg_cols)
    fg_list.append(df)

fg_df = pd.concat(fg_list, axis=0, ignore_index=True)
    
# Yahoo! datasets: Read dfs into a list of dfs and concat. Select yh_cols
yh_list = []

for yh in yh_datasets:
    df = pd.read_csv(os.path.join(outputFolder, yh), index_col=None, header=0, usecols = yh_cols)
    yh_list.append(df)

yh_df = pd.concat(yh_list, axis=0, ignore_index=True)

In [52]:
fg_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9100 entries, 0 to 9099
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Name      9100 non-null   object
 1   playerid  9100 non-null   object
dtypes: object(2)
memory usage: 142.3+ KB

In [53]:
yh_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1011 entries, 0 to 1010
Data columns (total 3 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Keeper              1011 non-null   object
 1   Player_ID           1011 non-null   int64
 2   Eligible_Positions  1011 non-null   object
dtypes: int64(1), object(2)
memory usage: 23.8+ KB

#### Format columns as needed

In [54]:
# ### Create a column that is the closest match for the name of the Yahoo data in the ID data
# # Consider creating a function

# def findTopNameMatches(name1, name2):
    
#     import sys
    
#     # Expected values
#     expectedValues = ['Yahoo!', 'CT', 'SFB', 'FG']
    
#     # Break if not in expected values
#     if name1 not in expectedValues or name2 not in expectedValues:
#         raise ValueError('Input String not in expected values]\nExpecting: ' + ' or '.join(expectedValues))
    
    
#     if name1 == 'Yahoo!':
#         df1 = yh_df
#         field1 = 'Keeper'
    
#     if name2 == 'Yahoo!':
#         df1 = yh_df
#         field1 = 'Keeper'
    
#     if name2 == 'CT':
#         df2 = ct_df
#         field2 = 'yahoo_name'
        
#     if name2 == 'SFB':
#         df2 = sfb_df
#         field2 = 'YAHOONAME'
        
#     if name2 == 'FG':
#         df2 = fg_df
#         field2 = 'Name'
    
#     # Extract lists of names in each dataset of the join
#     df1Names = df1[field1].to_list()
#     df2Names = df2[field2].to_list()
    
#     # Clean nans out of the lists
#     df1Names = ['' if str(x) == 'nan' else x for x in df1Names]
#     df2Names = ['' if str(x) == 'nan' else x for x in df2Names]
    
#     # Store the best match of the yahoo name in the Crunch Time data
#     print('Finding the best match of names...' + 'for ' + name2)
    
#     ### Some steps are needed to convert the output of nested lists into a column to store
    
#     # Store the best matches of the names, which is outputed as a nested list
#     tempList = [difflib.get_close_matches(potMatch, df2Names, 1) for potMatch in df1Names]
    
#     # # Break down the nested list
#     tempList = [item if len(item) != 0 else [''] for item in tempList]
#     # yh_df['ct_match_from_yh_name'] = [item for sublist in test for item in sublist]
    
#     return tempList

# yh_df['closest_in_fg'] = findTopNameMatches('Yahoo!', 'FG')

In [55]:
yh_df.head(15)

              Keeper  Player_ID    Eligible_Positions
0      Albert Pujols       6619        ['1B', 'Util']
1     Miguel Cabrera       7163        ['1B', 'Util']
2        Jeff Mathis       7296         ['C', 'Util']
3        René Rivera       7458         ['C', 'Util']
4      Robinson Canó       7497        ['2B', 'Util']
5     Dustin Pedroia       7631  ['2B', 'Util', 'IL']
6     Cameron Maybin       7684  ['LF', 'RF', 'Util']
7          Matt Kemp       7780        ['LF', 'Util']
8     Chris Iannetta       7845         ['C', 'Util']
9        Alex Gordon       7907        ['LF', 'Util']
10     Evan Longoria       7914        ['3B', 'Util']
11  Asdrúbal Cabrera       7947  ['2B', '3B', 'Util']
12      Hunter Pence       7963  ['LF', 'RF', 'Util']
13       Kurt Suzuki       8052         ['C', 'Util']
14  Emilio Bonifácio       8112  ['2B', 'LF', 'Util']

In [56]:
yh_df['Name'] = yh_df['Keeper'].apply(lambda x: difflib.get_close_matches(x, fg_df['Name'], 1)[0])

In [57]:
yh_df.head(10)

           Keeper  Player_ID    Eligible_Positions            Name
0   Albert Pujols       6619        ['1B', 'Util']   Albert Pujols
1  Miguel Cabrera       7163        ['1B', 'Util']  Miguel Cabrera
2     Jeff Mathis       7296         ['C', 'Util']     Jeff Mathis
3     René Rivera       7458         ['C', 'Util']     Rene Rivera
4   Robinson Canó       7497        ['2B', 'Util']   Robinson Cano
5  Dustin Pedroia       7631  ['2B', 'Util', 'IL']  Dustin Pedroia
6  Cameron Maybin       7684  ['LF', 'RF', 'Util']  Cameron Maybin
7       Matt Kemp       7780        ['LF', 'Util']       Matt Kemp
8  Chris Iannetta       7845         ['C', 'Util']  Chris Iannetta
9     Alex Gordon       7907        ['LF', 'Util']     Alex Gordon

#### Join to the FG data

In [58]:
finalIDs = pd.merge(left = yh_df, right = fg_df, how = 'left', on = 'Name')

In [59]:
finalIDs = finalIDs.rename(columns = {'Name':'fg_name', 
                                  'Player_ID':'yahoo_id',
                                  'playerid':'fg_id',
                                     'Eligible_Positions': 'espn_pos'})
finalIDs

                       Keeper  yahoo_id        espn_pos         fg_name  fg_id
0               Albert Pujols      6619  ['1B', 'Util']   Albert Pujols   1177
1              Miguel Cabrera      7163  ['1B', 'Util']  Miguel Cabrera   1744
2                 Jeff Mathis      7296   ['C', 'Util']     Jeff Mathis   3448
3                 René Rivera      7458   ['C', 'Util']     Rene Rivera   3648
4               Robinson Canó      7497  ['2B', 'Util']   Robinson Cano   3269
...                       ...       ...             ...             ...    ...
1035            Shogo Akiyama     11721  ['LF', 'Util']   Shogo Akiyama  27461
1036   Shohei Ohtani (Batter)   1000001        ['Util']   Shohei Ohtani  19755
1037   Shohei Ohtani (Batter)   1000001        ['Util']   Shohei Ohtani  19755
1038  Shohei Ohtani (Pitcher)   1000002     ['SP', 'P']   Shohei Ohtani  19755
1039  Shohei Ohtani (Pitcher)   1000002     ['SP', 'P']   Shohei Ohtani  19755

[1040 rows x 5 columns]

In [61]:
# Create timestamp
today = pd.to_datetime('today').strftime("%Y%m%d")

# Construct path
id_path = os.path.join(outputFolder, 'master_'+ today + '.csv')

# Write out file
finalIDs.to_csv(id_path, index = False)

#### Test the different joins using each ID dataset and measure the complete data

In [ ]:
# Determine the number of people in the yahoo dataset
numOfyhPlyrs = len(yh_df)

# Workflow
# Yahoo <- ID <- FG
# Join to create a Yahoo <- Crunch Time <- Fangraphs dataset
yh_ct = pd.merge(left = yh_df, right = ct_df, how = 'left', left_on = 'Player_ID', right_on = 'yahoo_id')

# Examine where the merge failed
ctNulls = yh_ct.isnull()['yahoo_name']
numOfctNulls = yh_ct.isnull()['yahoo_name'].sum()

print(r'Presenting the first join on the Yahoo! data to the ID data...')
print('...Out of the ' + str(numOfyhPlyrs) + ' players that needed to be joined, ' + str(numOfctNulls) + ' failed')

# Display where they are
yh_ct[ctNulls].head(20)

In [ ]:
# Join to create a Yahoo <- Smart Fantasy Baseball <- Fangraphs dataset
yh_sfb = pd.merge(left = yh_df, right = sfb_df, how = 'left', left_on = 'Player_ID', right_on = 'YAHOOID')

# Examine where the merge failed
sfbNulls = yh_sfb.isnull()['YAHOONAME']
numOfFirstSFBNulls = yh_sfb.isnull()['YAHOONAME'].sum()

print(r'Presenting the first join on the Yahoo! data to the ID data...')
print('...Out of the ' + str(numOfyhPlyrs) + ' players that needed to be joined, ' + str(numOfFirstSFBNulls) + ' failed')

# Display where they are
yh_sfb[sfbNulls].head(20)

#### Determine where the missing values overlap and differ

In [ ]:
# Determine where the values are valid in both
bothNulls = np.array(ctNulls) & np.array(sfbNulls)
bothValid = ~np.array(ctNulls) & ~np.array(sfbNulls)

print('There are {0} yahoo players who are not in either dataset and {1} in both'.format(bothNulls.sum(), bothValid.sum()))

In [ ]:
# Determine where one dataset is valid

# CT
onlyCT = ~np.array(ctNulls) & np.array(sfbNulls)
print('There are {0} players that are only in CT'.format(onlyCT.sum()))

# SFB
onlySFB = ~np.array(sfbNulls) & np.array(ctNulls)
print('There are {0} players that are only in SFB'.format(onlySFB.sum()))

In [ ]:
# Confirming the totals match
checkTotal= bothValid.sum() + bothNulls.sum() + onlyCT.sum() + onlySFB.sum()

if checkTotal == numOfyhPlyrs:
    print('Success. Player totals match\n...there are {0} total'.format(checkTotal))
    
else:
    print('WARNING: LOST PLAYERS!')

In [ ]:
#### Determine which ID dataset matches best with FanGraphs

In [ ]:
# firstNulls == firstSFBNulls
test1 = [True, True, False]
test2 = [True, False, False]

np.array(test1) | np.array(test2)

In [ ]:
yh_ct_fg = pd.merge(left = yh_ct, right = fg_df, how = 'left', left_on = 'fg_id', right_on = 'playerid')
yh_sfb_fg = yh_sfb.merge(fg_df, how = 'left', left_on = 'IDFANGRAPHS', right_on = 'playerid')

In [ ]:
yh_ct_fg.head()

In [ ]:
yh_sfb_fg.head()

#### Format the data for visualizations

In [ ]:
# Create vector with the counts of nulls or nas in each column
rawCtNulls = yh_ct_fg.isnull()
rawSFBNulls = yh_sfb_fg.isnull()

# Sum
ctNulls = rawCtNulls.sum()
sfbNulls = rawSFBNulls.sum()

# Filter only what we want to keep
ctNulls = ctNulls[keysToKeep]
sfbNulls = sfbNulls[keysToKeep]

# Convert the pd series into a data frame and transpose
missing_df = pd.concat([ctNulls.rename('CrunchTime'), sfbNulls.rename('SmartFantasy')], axis=1).T

# Rename the keysToKeep column into what we're interested in, Number of Missing
missing_df.rename(columns = {keysToKeep[0]: 'Number of Missing'}, inplace = True)

#### Visualize

In [ ]:
missing_df.plot(y = 'Number of Missing', use_index = True, kind = 'bar', rot=0, color = 'orange')

#### See where the data is missing in the table

In [ ]:
yh_ct_fg[rawCtNulls[keysToKeep[0]]].head(n=10)

In [ ]:
yh_sfb_fg[rawSFBNulls[keysToKeep[0]]].head(n=10)